h1{
    font-size: 35px;
    color:red;}
    p{font-size: 25px;
        color: green;}
        a{ color:rgb(255, 0, 0);}
        a:hover{color: beige;}
        img{border: 2px solid red;
        margin: 5px;
    padding: 2px;}
    header{ background-color: aqua;}
    main{ background-color: azure;}
    footer{ background-color: rgb(207, 208, 203);}
    body{ background-color: violet;}
    .flexbox {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }